.leftbox {
  margin: auto;
  width: 60%;
  height: 900%;
  background: rgb(36, 34, 34);
  padding: 10px;
  border: 3px solid yellow;
  border-bottom-style: none;
}

.one {
  display: flex;
  align-items: center;
}

.saveicon {
  opacity: 0.5;
}

.saveicon:hover {
  opacity: 1.0;
  cursor: pointer;
}

.poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
  }
.rightbox{
  margin: auto;
  width: 60%;
  height: 900%;
  border: 3px solid yellow;
  padding: 10px;
  color: aliceblue;
  border-top-style: none;
}
h3{
    color:aliceblue;
    text-align:center;
}
figure {
    width: 10%;
    height: 10%;
    display: inline-block;
}
body{
    background-color: #010203fa;
    text-decoration-color: aliceblue;
}