img {
    max-width: 100%;
}
.leftbox {
  margin: auto;
  width: 70%;
  height: 900%;
  background: rgb(14, 13, 13);
  padding: 10px;
  border: 3px solid yellow;
  border-bottom-style: none;
}

.poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
  }
.rightbox{
  margin: auto;
  width: 70%;
  height: 900%;
  border: 3px solid yellow;
  padding: 10px;
  color: aliceblue;
  border-top-style: none;
}
h3{
    color:aliceblue;
    text-align:center;
}
figure {
    width: 10%;
    height: 10%;
    display: inline-block;
}
body{
    background-color: #010203;
    text-decoration-color: aliceblue;
}