  
{% include 'header.html' %}
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <style>
        {% include 'css/home.css' %}
    </style>
    <body>
                <script>
                    var list = new Array();
                    '{% for i in fav_mov_list %}'
                    var dict = {};
                    var actor_details = new Array();
                    '{% for m in i.cast %}'
                    {
                        actor_details.push('{{m}}');
                    }
                    '{% endfor %}'
                    dict['cast'] = actor_details;
                    dict['title']=('{{i.title}}');
                    dict['pic']=('{{i.poster_path}}');
                    dict['overview']=('{{i.overview}}');
                    dict['release_date']=('{{i.release_date}}');
                    dict['vote_average']=('{{i.vote_average}}');
                    dict['movie_id']=('{{i.id}}');
                    dict['fav']=('Yes');
                    list.push(dict);
                    '{% endfor %}'
                </script>
                <div id='parent'>
                </div>
            <div style="text-align:center;" id="pagination">
                <input type="button" id="first" onclick="firstPage()" value="first"/>
                <input type="button" id="next" onclick="nextPage()" value="next"/>
                <input type="button" id="previous" onclick="previousPage()" value="previous"/>
                <input type="button" id="last" onclick="lastPage()" value="last"/>
            </div>
    </body>
    <script>
        {% include 'js/jquery.cookies.js' %}
        {% include 'js/favourites.js' %}
        {% include 'js/ajax_setup.js' %}
            loadList();
            function rem_fav_mov(e) {
                // Making the AJAX Request
                $.ajax({
                    type: "POST",
                    data: {
                        name: e,
                        'remove':1,
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        for (r = 0; r < list.length; r++)
                        {
                            if(list[r]['movie_id']==data['msg'])
                            {
                                list[r]['fav']='No';
                            }
                        }
                        drawList();
                        console.log("remove called");
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
    </script>
</html>