<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
{% include 'css/header.css' %}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="{% url 'home' %}">Home</a>
  <a href="#about">About</a>
  {% if user.is_authenticated %}
  <a href="{% url 'favourites' %}">Favourites</a>
    <a class="p-2 text-dark" href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'registration_view' %}">Regsiter</a>
    <a href="{% url 'login_view' %}">Login</a>
  {% endif %}
  <div class="search-container">
    <form action="{% url 'searchbar' %}" method="GET">
      <input placeholder="Search.." name="search" id="movie_name">
      <button id='btn'><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
</body>
</html>