{% include 'header.html' %}
{% load static %}
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Jquery-->
        <script>
            {% include 'js/lightslider.js' %}
        </script>

    </head>
    <style>
            {% include 'css/lightslider.css' %}
            {% include 'css/style.css' %}
    </style>
    <body>
        <h1 class="ratings" style="text-align: center; font-family: Georgia">Trending this Week</h1>
        <div class="container">
            <!--slider------------------->
            <ul id="autoWidth" class="cs-hidden">
                
            <!--1------------------------------>
            {% for i in trending_movies %}
            <li class="item-a">
            <!--slider-box-->
            <div class="box">
            <p class="marvel" style="text-align: center; font-family: Georgia">{{i.title}} {{i.original_name}}</p>
            <!--model-->
            <img class="model" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{ i.poster_path }}">
            <!--details-->
            
            <!--logo-character-->
            <br>
            <span class="ratings">Starring: </span><span class="cast_trend_movies">
                {% for m in i.cast %}
                    {{m}} |
                    {% endfor %}
            </span>
            <div class="one">
                <div>
                    <img src="{% static 'star.png' %}" style="height: 24px; width:24px;"/>
                </div>
                <div>
                    <h4 class="ratings">{{i.vote_average}}</h4>
                </div>
            </div>
            </li>
            {% endfor %}
            <!--2------------------------------>
            </ul>
        </div>
    </body>
    <script>
            {% include 'js/script.js' %}
    </script>
</html>