{% include 'header.html' %}
{% load static %}
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Jquery-->
        <script>
            {% include 'js/jquery.cookies.js' %}
        </script>

    </head>
    <style>
            {% include 'css/style.css' %}
            {% include 'css/login.css' %}
    </style>
    <body>
        <div class="main">
            <p class="sign">Sign in</p>
            <form class="form1" method="POST">
                {% csrf_token %}
              <input class="un " type="email" placeholder="Email" name="email" id="id_email">
              <input class="pass" type="password" placeholder="Password" name="password" id="id_password" required="">
              <input class="submit" type="submit">
              <p class="forgot"><a href="#">Forgot Password?</p>
            </form>
            </div>
    </body>
    
</html>